/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Center container in viewport */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
}

/* Main container */
.container {
    width: 400px;
    height: 300px;
    background-color: #1f2a8a;
    position: relative;
}

/* Base shapes */
.square,
.circle {
    width: 60px;
    height: 60px;
    position: absolute;
}

.square {
    background-color: #6ec1cc;
}

.circle {
    background-color: #d65aa5;
    border-radius: 50%;
}

/* Consistent spacing */
:root {
    --offset: 30px;
    --gap: 90px; /* distance between first and second shape */
}

/* TOP LEFT */
.top-left-square {
    top: var(--offset);
    left: var(--offset);
}

.top-left-circle {
    top: var(--offset);
    left: calc(var(--offset) + var(--gap));
}

/* TOP RIGHT */
.top-right-circle {
    top: var(--offset);
    right: var(--offset);
}

.top-right-square {
    top: var(--offset);
    right: calc(var(--offset) + var(--gap));
}

/* BOTTOM LEFT */
.bottom-left-circle {
    bottom: var(--offset);
    left: var(--offset);
}

.bottom-left-square {
    bottom: var(--offset);
    left: calc(var(--offset) + var(--gap));
}

/* BOTTOM RIGHT */
.bottom-right-square {
    bottom: var(--offset);
    right: var(--offset);
}

.bottom-right-circle {
    bottom: var(--offset);
    right: calc(var(--offset) + var(--gap));
}
