* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
}

.container {
    width: 500px; /* Un poco más ancho para que luzca mejor */
    height: 350px;
    background-color: #1f2a8a;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Separa fila superior de inferior */
}

.row {
    display: flex;
    justify-content: space-between; /* Manda los grupos a las esquinas */
    width: 100%;
}

.group {
    display: flex;
    gap: 20px; /* <--- ESTO separa el cuadrado de la bola */
    align-items: center;
}

/* Figuras */
.square {
    width: 60px;
    height: 60px;
    background-color: #6ec1cc;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #d65aa5;
    border-radius: 50%;
}
