* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
}

.container {
    width: 450px;
    height: 320px;
    background-color: #1f2a8a;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Separa los grupos de arriba de los de abajo */
}

.fila {
    display: flex;
    justify-content: space-between; /* Separa los grupos de la izquierda de la derecha */
}

.grupo {
    display: flex;
    gap: 15px; /* <--- ESTO separa físicamente el cuadrado de la bola */
    align-items: center;
}

.square {
    width: 60px;
    height: 60px;
    background-color: #6ec1cc;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #d65aa5;
    border-radius: 50%;
}
